<!DOCTYPE HTML>
<html>
<head>
    <title>Business List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="css/style-administrator.css" rel='stylesheet' type='text/css' media="screen"/>
    <link href="css/lib/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="js/js-administrator/jquery.min.js"></script>
    <!----webfonts--->
    <link href="css/useso.css" rel='stylesheet' type='text/css'>
    <!---//webfonts--->
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/adminl">食友商家</a>
        </div>
        <!-- /.navbar-header -->
        <form class="welcome" style="text-align:right">
            <p>管理员，</p></br>
            <p>欢迎回来</p>
        </form>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/admin"><img src="images/icon/home1.jpg" alt="" />Home</a>
                    </li>
                    <li>
                        <a href="#"><img src="images/icon/shangjia1.jpg" alt="" />商户信息<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/admin_business">商户列表</a>
                            </li>
                            <li>
                                <a href="/admin_newBusiness">新入驻商户列表</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="/admin_detail"><img src="images/icon/administrator.jpg" alt="" />管理员信息</a>
                    </li>
                    <li>
                        <a href="/logout"><img src="images/icon/logout.jpg" alt="" />Log Out</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
        <div class="col-md-12 graphs">
            <div class="xs">
                <h3>商家列表</h3>
                <div class="bs-example4" data-example-id="contextual-table">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>商家名称</th>
                            <th>店主姓名</th>
                            <th>地址</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% if(rows.length > 0){ %>
                            <% var arr = new Array("active", "success", "info", "warning", "danger") %>

                            <% for(var i = 0, len = rows.length; i < len; i ++){ %>
                            <% if( i%2 == 0){%>
                                <tr class= "<%= arr[i%5] %>" >
                            <% }else{ %>
                                <tr class= "">
                            <% } %>
                                <!--<tr class="active">-->
                                    <th scope="row"><%= (i + 1) %></th>
                                    <td><a href="admin_businessDetail?id=<%= rows[i].id %>"><%= rows[i].res_name %></a></td>
                                    <td><%= rows[i].manager_name %></td>
                                    <td><%= rows[i].address %></td>
                                    <td><button type="button"  style="width:50px;height:25px;border-color:#5F9EA0;border-radius:15px;" onclick=eva(<%= rows[i].id %>)>评价</button></td>
                                    <td><button type="button"  style="width:50px;height:25px;border-color:#FFDAB9;border-radius:15px;" onclick=del(<%= rows[i].id %>)>删除</button></td>
                                </tr>
                            <% } %>
                        <% } %>
                        </tbody>
                    </table>
                    <ul class="pager">
                        <li><a href="#" input type="button">←</a></li>
                        <li><a href="#" input type="button">→</a></li>
                    </ul>
                </div>
            </div>
            <div class="copy_layout">
                <p>&copy; Summer Cooperation 2016</p>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Nav CSS -->
<link href="css/css-administrator/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script>
    function eva(id){
        //alert('evaluate!! ' + id);
        //window.location.href('admin_eva?id=" + id');
       window.open("admin_eva?id=" + id);
        //window.location("admin_eva?id=" + id);

//        $.ajax({
//            url: 'eva_route/?id=' +id,
//            data: JSON.stringify({ 'id' : id}),
//            type: "get",
//            contentType: "application/json",
//            cache: false,
//            success: function () {
////                if(data == "success" )
////                    alert("审核成功！");
////                else if(data == "fail")
////                    alert("审核成功！");
//
//                window.location.reload();  // 刷新页面
//            },
//            error: function (data) {
//                alert(data);
//                window.location.reload();  // 刷新页面
//            }
        };

    function del(id){

        //alert('del ' + id);

        $.post(
                'del',
                {id: id},
                function(data){
                    //alert(data);
                    if(data == 'success')
                            alert('删除成功！');
                    else
                            alert('删除失败！');

                    window.location.reload();  // 刷新页面
                }
        )
    }

</script>
<script src="js/js-administrator/metisMenu.min.js"></script>
<script src="js/js-administrator/custom.js"></script>


</body>
</html>
